header {
    background-color: lightblue;
    height: 400px;
    padding: 30px 20px;
}

main {
    background-color: lightskyblue;
    height: 400px;
    padding: 30px 20px;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: aqua;
    height: 400px;
    padding: 30px 20px;
}